ALLOYDB_HOST=34.72.0.136
ALLOYDB_DB=gapforge_db
ALLOYDB_USER=postgres
ALLOYDB_PASSWORD=GapForge@2026
ALLOYDB_PORT=5432
GOOGLE_CLOUD_PROJECT=hackathon-492216
GOOGLE_CLOUD_LOCATION=us-central1
GOOGLE_GENAI_USE_VERTEXAI=TRUE